.archive,
.search-results {
    .page-header {
        padding: ms(4) ms(2) ms(6);
        margin: 0 0 ms(6);
        
        text-align: center;
        color: $color__text-pageheader;

        border-bottom: $size__border-root $color__border-base;

        .page-title {
            font-size: ms(2);
            color: $color__text-pageheader;
            margin: 0;
        }
        .page-description {
            font-style: italic;
            font-size: ms(-2);
            letter-spacing: ms(-15);
            p {
                margin: ms(-4) 0 0;
            }
        }
    }
}