.site-footer {
    @include content-center;
    margin-top: ms(4);
    
    color: $color__text-softer;
    .site-info {
        border-top: $size__border-root $color__border-base;
        list-style: none;
        margin: 0;
        padding: ms(2) 0 ms(4);
        text-align: center;
        li {
            display: inline-block;
            text-transform: uppercase;
            font-size: ms(-4);
            letter-spacing: ms(-16);
            margin: 0 ms(-2);
            padding: 0;
            @include respondTo(upto-narrow) {
                font-size: ms(-2);
            }
        }
    }
    a {
        display: inline-block;
        color: $color__link-footer;
        text-decoration: none;
        &:hover {
            color: $color__link-footer-hover;
        }            
    }
}