.site-header {
    width: 100%;
    margin-bottom: ms(2);
    background: $color__background-header;
}

.site-header-wrapper {
    position: relative;
    @include content-center;
    padding-top: ms(0);
    padding-bottom: ms(0);
    @include respondTo(atleast-wide) {
        padding-top: ms(-2);
        padding-bottom: ms(-2);
    }
}

.site-branding {
    width: 80%;

    @include animation(fadein 0.3s ease-out backwards,movein 0.5s ease-in-out backwards);

    h1 {
        font-family: $font__main;
        font-size: ms(-1);
        letter-spacing: ms(-16);
        text-transform: uppercase;
        margin: 0 0 ms(-4);
        a {
            color: $color__link-header;
            text-decoration: none;
            &:hover {
                color: $color__link-header-hover;
            }
        }
    }
    h2 {
        font-family: $font__main;
        font-size: ms(-2);
        font-weight: 400;
        font-style: italic;
        text-transform: none;
        letter-spacing: ms(-14);
        margin: 0;
        color: $color__text-header;
    }

    @include respondTo(atleast-wide) {
        h1, h2 {
            display: inline-block;
        }
    }
}

.header-navigation {
    display: none;

    position: absolute;
    top: 0;
    right: ms(2);
    width: 20%;
}