.site-header {
    width: 100%;
    margin-bottom: ms(2);
    background: $color__background-header;
}

.site-branding {
    padding: ms(2) ms(2);
    margin: 0 auto;
    max-width: ms(18);
    @include animation(fadein 0.3s ease-out backwards,movein 0.5s ease-in-out backwards);

    h1 {
        font-family: $font__main;
        font-size: ms(-1);
        letter-spacing: ms(-16);
        text-transform: uppercase;
        margin: 0 0 ms(-4);
        a {
            color: $color__link-header;
            text-decoration: none;
            &:hover {
                color: $color__link-header-hover;
            }
        }
    }
    h2 {
        font-family: $font__main;
        font-size: ms(-2);
        font-weight: 400;
        font-style: italic;
        text-transform: none;
        letter-spacing: ms(-14);
        margin: 0;
        color: $color__text-header;
    }

    @include respondTo(atleast-wide) {
        padding: ms(0) ms(2);
        h1, h2 {
            display: inline-block;
        }
    }
}