$ms-base: 1em 1.266em;
$ms-ratio: 1.5;

$font__main: "Lora", serif;
$font__headings: "Playfair Display", serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__line-height-body: $ms-ratio;
$font__line-height-pre: ms(3);