/* 
**  Sidebar Toggle 
*/

.no-js .sidebar-toggle {
	display: none;
}

// Sidebar Toggle Button
.sidebar-toggle {
	@include animation(fadein 0.3s ease-out 1s backwards);

	@include clearfix;
	display: block;
	box-shadow: 0 0 0 transparent;
	text-shadow: 0 0 0 transparent;
	outline: 0;
	font-size: 1em;
	background: transparent;
	z-index: 999;
	border: 2px solid $color__border-header-button;
	border-radius: 3px;

	padding: ms(-2) ms(0);

	font-size: ms(-4);

	%hamburger-bars {
		display: block;
		width: 6px;
		height: 6px;
		float: right;
		border-radius: 3px;
		line-height: 1;
		background: $color__link-headernav;
	}

	.sidebar-toggle-text {
		// clip: rect(1px, 1px, 1px, 1px);
		// position: absolute !important;
		// height: 1px;
		// width: 1px;
		// overflow: hidden;

		display: block;
		text-align: center;
		float: right;
	}

	span.sidebar-toggle-icon {  // Hamburger bars
		// margin-top: -6px;

		@extend %hamburger-bars;

		@include transition-property(color, background, opacity, width);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-in-out);
		
		&:before, 
		&:after {
			content: '';
			position: absolute;
			@extend %hamburger-bars;
			
			@include transform(rotate(0deg));
			
			@include transition-property(color, background, opacity, width);
			@include transition-duration(0.5s);
			@include transition-timing-function(ease-in-out);
		}
		&:before {
			left: -10px;
			// width: ms(1);

			// background:  blue; //temp
		}
		&:after {
			left: 10px;
			// width: ms(0);

			// background:  green; //temp
		}
	}

	
	&:hover {
		background: transparent;
		box-shadow: 0 0 0 transparent;
		text-shadow: 0 0 0 transparent;
		border: 0 none;
		
		span {
			@include transition-property(color, background, opacity, width);
			@include transition-duration(0.15s);
			@include transition-timing-function(ease-in-out);
			background: $color__link-headernav-hover;
			&:before,
			&:after {
				@include transition-property(color, background, opacity, width);
				@include transition-duration(0.15s);
				@include transition-timing-function(ease-in-out);
				width: ms(2);
				background: $color__link-headernav-hover;
			}
		}
	}
	&:active,
	&:visited,
	&:focus {	
		box-shadow: 0 0 0 transparent;
	}


	// When Sidebar is visible:
	.sidebar-toggled & {
		position: fixed;
		top: 0;
		margin-top: 0;
		z-index: 9999;
		border: 0 none;		
		@include transition-property(color, background, opacity, transform);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in-out);
        span {
        	background: transparent;
			@include transition(background 0.2s ease-in-out);

        	&:before,
			&:after {
				width: ms(2);
				margin-top: 0; 
				@include transform-origin(center);
				@include transition-property(color, background, opacity, transform);
				@include transition-duration(0.4s);
				@include transition-timing-function(ease-in-out);

				background: $color__base-tint80;
				height: 4px;
			}
			&:before {
				@include transform(rotate(45deg));
			}
			&:after {
				@include transform(rotate(-45deg));
			}
        }

        &:hover {
			@include transform(scale(1.1));
    		@include transform-origin(center);
			@include transition-property(color, background, opacity, transform);
			@include transition-duration(0.15s);
			@include transition-timing-function(ease-in-out);
    		span {
    			&:before,
				&:after {
					background: white;
				}
    		}
		}
	}
	.sidebar-toggled.admin-bar & {
		top: 32px;
		@include respondTo(upto-medium) {
	        top: 42px;
	    }
	}

	//After Sidebar is closed
	.sidebar-closed & {
		span {
			@include animation(fadein 0.3s ease-out 0.4s backwards);
		}
	}
}