.alignleft {
	display: inline;
	float: left;
	margin-right: ms(0);
}

.alignright {
	display: inline;
	float: right;
	margin-left: ms(0);
}

.aligncenter {
	@include center-block;
}


blockquote {
    &.alignright,
    &.alignleft {
        max-width: 50%;
    }
    &.alignleft {
        margin-left: 0; 
    }
    &.alignright {
        margin-right: 0; 
    }

}