.sticky {
	display: block;
}

.hentry {
    @include animation(fadein 0.5s ease-out 0.3s backwards);


	margin: 0 0 ms(8);
    padding: 0 0 ms(8);
    border-bottom: $size__border-content $color__border-base;

    &:last-child {
        border-bottom: none;
    }
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: ms(2) 0;

    p:first-child {
        margin-top: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-featured-image {
    img {
        width: 100%;
    }
    // @include filter(saturate(0%));
    // &:hover {
    //     @include filter(saturate(50%));
    // }
}

.entry-header {
    .entry-title {
        margin-bottom: ms(-3);
        a {
            text-decoration: none;
            color: $color__link-title;
            &:hover {
                color: $color__link-title-hover;
            }
        }
    }
}

.entry-header .entry-meta,
.entry-footer {
    @include text-format(note);
    color: $color__text-softer;
    a {
        text-decoration: none;
        color: $color__link-aside;
        &:hover {
            color: $color__link-aside-hover;
        }
    }
    span {
        margin-right: ms(0);
        display: inline-block;
    }
}


.post-navigation {
    margin: 0 0 ms(4);
    padding: 0 0 ms(4);
    border-bottom: $size__border-content $color__border-base;
    
    a {
        text-decoration: none;
    }
    
    // .nav-previous:before,
    // .nav-next:before {
    //     display: block;
    //     @extend %heading-base;
    //     font-size: ms(-2);
    //     letter-spacing: ms(-12);

    //     color: $color__text-softer;
    // }
    // .nav-previous:before {
    //     content: "Previously";
    // }
    // .nav-next:before {
    //     content: "Up Next";
    // }
}